<?xml version="1.0"?>
<config>
    <modules>
        <Bold_CheckoutZsMain>
            <version>1.0.0.0</version>
        </Bold_CheckoutZsMain>
    </modules>
    <global>
        <helpers>
            <main>
                <rewrite>
                    <totals>Bold_CheckoutZsMain_Helper_Totals</totals>
                </rewrite>
            </main>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <bold_checkoutzsmain>
                    <file>bold/parallel_checkout.xml</file>
                </bold_checkoutzsmain>
            </updates>
        </layout>
    </frontend>
</config>
