<?xml version="1.0"?>
<config>
    <global>
        <blocks>
            <bold_checkout_self_hosted>
                <class>Bold_CheckoutSelfHosted_Block</class>
            </bold_checkout_self_hosted>
        </blocks>
        <models>
            <bold_checkout_self_hosted>
                <class>Bold_CheckoutSelfHosted_Model</class>
            </bold_checkout_self_hosted>
        </models>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <bold>
                        <type>disabled</type>
                    </bold>
                    <bold_slef_hosted>
                        <class>Bold_CheckoutSelfHosted_Observer_CheckoutObserver</class>
                        <method>beforeCheckout</method>
                    </bold_slef_hosted>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
        </events>
        <layout>
            <updates>
                <bold_checkout>
                    <file>bold_checkout_self_hosted.xml</file>
                </bold_checkout>
            </updates>
        </layout>
        <routers>
            <bold_checkout_self_hosted>
                <use>standard</use>
                <args>
                    <module>Bold_CheckoutSelfHosted</module>
                    <frontName>experience</frontName>
                </args>
            </bold_checkout_self_hosted>
        </routers>
    </frontend>
</config>
