<?xml version="1.0"?>
<config>
    <global>
        <blocks>
            <bold_checkout_self_hosted>
                <class>Bold_CheckoutSelfHosted_Block</class>
            </bold_checkout_self_hosted>
        </blocks>
        <models>
            <bold_checkout_self_hosted>
                <class>Bold_CheckoutSelfHosted_Model</class>
            </bold_checkout_self_hosted>
        </models>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <bold>
                        <class>Bold_CheckoutSelfHosted_Observer_CheckoutObserver</class>
                        <method>beforeCheckout</method>
                    </bold>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
        </events>
        <layout>
            <updates>
                <bold_checkout>
                    <file>bold_checkout_self_hosted.xml</file>
                </bold_checkout>
            </updates>
        </layout>
        <routers>
            <bold_checkout_self_hosted>
                <use>standard</use>
                <args>
                    <module>Bold_CheckoutSelfHosted</module>
                    <frontName>experience</frontName>
                </args>
            </bold_checkout_self_hosted>
        </routers>
    </frontend>
    <adminhtml>
        <events>
            <admin_system_config_changed_section_checkout>
                <observers>
                    <bold>
                        <class>Bold_CheckoutSelfHosted_Observer_CreateUrlRewritesObserver</class>
                        <method>createCheckoutUrlRewrites</method>
                    </bold>
                </observers>
            </admin_system_config_changed_section_checkout>
        </events>
    </adminhtml>
    <default>
        <checkout>
            <bold_advanced>
                <template_type>three_page</template_type>
            </bold_advanced>
        </checkout>
    </default>
</config>
