<?xml version="1.0"?>
<config>
    <modules>
        <Bold_CheckoutMageWorxMultiFees>
            <version>0.0.1</version>
        </Bold_CheckoutMageWorxMultiFees>
    </modules>
    <global>
        <models>
            <bold_checkout_mageworx_multifees>
                <class>Bold_CheckoutMageWorxMultiFees_Model</class>
                <resourceModel>bold_checkout_mageworx_multifees_resource</resourceModel>
            </bold_checkout_mageworx_multifees>
            <bold_checkout_mageworx_multifees_resource>
                <class>Bold_CheckoutMageWorxMultiFees_Model_Resource</class>
                <entities>
                    <quote_fees_data>
                        <table>bold_checkout_quote_fees</table>
                    </quote_fees_data>
                </entities>
            </bold_checkout_mageworx_multifees_resource>
        </models>
        <resources>
            <checkout_mageworx_multifees_setup>
                <setup>
                    <module>Bold_CheckoutMageWorxMultiFees</module>
                </setup>
            </checkout_mageworx_multifees_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <sales_quote_address_collect_totals_before>
                <observers>
                    <bold>
                        <class>Bold_CheckoutMageWorxMultiFees_Observer_MultiFeesObserver</class>
                        <method>addFeesDataBeforeCollectTotals</method>
                    </bold>
                </observers>
            </sales_quote_address_collect_totals_before>
        </events>
    </frontend>
</config>
