<?xml version="1.0"?>
<config>
    <modules>
        <Bold_CheckoutTaxExempt>
            <version>0.1.0</version>
        </Bold_CheckoutTaxExempt>
    </modules>
    <global>
        <helpers>
            <bold_checkouttaxexempt>
                <class>Bold_CheckoutTaxExempt_Helper</class>
            </bold_checkouttaxexempt>
        </helpers>
        <blocks>
            <bold_checkouttaxexempt>
                <class>Bold_CheckoutTaxExempt_Block</class>
            </bold_checkouttaxexempt>
        </blocks>
        <models>
            <bold_checkouttaxexempt>
                <class>Bold_CheckoutTaxExempt_Model</class>
            </bold_checkouttaxexempt>
        </models>
        <resources>
            <checkkouttaxexemp_setup>
                <setup>
                    <module>Bold_CheckoutTaxExempt</module>
                </setup>
            </checkkouttaxexemp_setup>
        </resources>
        <template>
            <email>
                <checkout_bold_tax_exempt_exempt_email_template translate="label" module="bold_checkouttaxexempt">
                    <label>Tax Exempt Template</label>
                    <file>bold_checkout_tax_exempt/exempt_upload_email.html</file>
                    <type>html</type>
                </checkout_bold_tax_exempt_exempt_email_template>
            </email>
        </template>
    </global>
    <frontend>
        <routers>
            <checkouttaxexempt>
                <use>standard</use>
                <args>
                    <module>Bold_CheckoutTaxExempt</module>
                    <frontName>checkouttaxexempt</frontName>
                </args>
            </checkouttaxexempt>
        </routers>
        <layout>
            <updates>
                <bold_checkouttaxexempt>
                    <file>bold/checkouttaxexempt.xml</file>
                </bold_checkouttaxexempt>
            </updates>
        </layout>
        <events>
            <bold_checkout_order_ext_data_save_before>
                <observers>
                    <bold>
                        <class>Bold_CheckoutTaxExempt_Observer_OrderExtDataSaveBeforeObserver</class>
                        <method>setTaxExempt</method>
                    </bold>
                </observers>
            </bold_checkout_order_ext_data_save_before>
            <bold_checkout_order_create_after>
                <observers>
                    <bold>
                        <class>Bold_CheckoutTaxExempt_Observer_OrderCreateAfterObserver</class>
                        <method>processTaxExempt</method>
                    </bold>
                </observers>
            </bold_checkout_order_create_after>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <bold_checkouttaxexempt>
                    <file>bold/checkouttaxexempt.xml</file>
                </bold_checkouttaxexempt>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Bold_CheckoutTaxExempt before="Mage_Adminhtml">Bold_CheckoutTaxExempt_Adminhtml</Bold_CheckoutTaxExempt>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
