<?xml version="1.0"?>
<config>
    <modules>
        <Bold_CheckoutSales>
            <version>0.0.1</version>
        </Bold_CheckoutSales>
    </modules>
    <global>
        <models>
            <sales>
                <rewrite>
                    <order_payment>Bold_CheckoutMageCodersPaypalMulticurrency_Model_Order_Payment</order_payment>
                </rewrite>
            </sales>
        </models>
    </global>
</config>
