<?xml version="1.0"?>
<config>
    <modules>
        <Bold_Checkout>
            <version>2.0.2</version>
        </Bold_Checkout>
    </modules>
    <global>
        <blocks>
            <bold_checkout>
                <class>Bold_Checkout_Block</class>
            </bold_checkout>
        </blocks>
        <models>
            <tax>
                <rewrite>
                    <sales_total_quote_tax>Bold_Checkout_Model_Sales_Total_Quote_Tax</sales_total_quote_tax>
                </rewrite>
            </tax>
            <sales>
                <rewrite>
                    <order_payment>Bold_Checkout_Model_Sales_Order_Payment</order_payment>
                </rewrite>
            </sales>
            <bold_checkout>
                <class>Bold_Checkout_Model</class>
                <resourceModel>bold_checkout_resource</resourceModel>
            </bold_checkout>
            <bold_checkout_resource>
                <class>Bold_Checkout_Model_Resource</class>
                <deprecatedNode>bold_checkout_mysql4</deprecatedNode>
                <entities>
                    <order>
                        <table>bold_checkout_order</table>
                    </order>
                    <regioncodemapper>
                        <table>bold_checkout_region_iso_code</table>
                    </regioncodemapper>
                </entities>
            </bold_checkout_resource>
            <importexport>
                <rewrite>
                    <import_entity_customer>Bold_Checkout_Model_Import_Entity_Customer</import_entity_customer>
                </rewrite>
            </importexport>
        </models>
        <resources>
            <bold_checkout_setup>
                <setup>
                    <module>Bold_Checkout</module>
                </setup>
            </bold_checkout_setup>
        </resources>
        <events>
            <customer_save_commit_after>
                <observers>
                    <bold>
                        <class>Bold_Checkout_Observer_CustomerObserver</class>
                        <method>customerSaved</method>
                    </bold>
                </observers>
            </customer_save_commit_after>
            <customer_delete_commit_after>
                <observers>
                    <bold>
                        <class>Bold_Checkout_Observer_CustomerObserver</class>
                        <method>customerDeleted</method>
                    </bold>
                </observers>
            </customer_delete_commit_after>
            <sales_order_save_commit_after>
                <observers>
                    <bold>
                        <class>Bold_Checkout_Observer_OrderObserver</class>
                        <method>orderSaved</method>
                    </bold>
                </observers>
            </sales_order_save_commit_after>
        </events>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <bold>
                        <class>Bold_Checkout_Observer_CheckoutObserver</class>
                        <method>beforeCheckout</method>
                    </bold>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
            <checkout_type_onepage_save_order>
                <observers>
                    <bold>
                        <class>Bold_Checkout_Observer_CheckoutObserver</class>
                        <method>beforeSaveOrder</method>
                    </bold>
                </observers>
            </checkout_type_onepage_save_order>
            <checkout_submit_all_after>
                <observers>
                    <bold>
                        <class>Bold_Checkout_Observer_CheckoutObserver</class>
                        <method>afterCheckout</method>
                    </bold>
                </observers>
            </checkout_submit_all_after>
            <customer_address_save_commit_after>
                <observers>
                    <bold>
                        <class>Bold_Checkout_Observer_CustomerObserver</class>
                        <method>customerAddressSaved</method>
                    </bold>
                </observers>
            </customer_address_save_commit_after>
            <customer_address_delete_commit_after>
                <observers>
                    <bold>
                        <class>Bold_Checkout_Observer_CustomerObserver</class>
                        <method>customerAddressDeleted</method>
                    </bold>
                </observers>
            </customer_address_delete_commit_after>
        </events>
        <layout>
            <updates>
                <bold_checkout>
                    <file>bold/checkout.xml</file>
                </bold_checkout>
            </updates>
        </layout>
        <translate>
            <modules>
                <Bold_Checkout>
                    <files>
                        <default>Bold_Checkout.csv</default>
                    </files>
                </Bold_Checkout>
            </modules>
        </translate>
    </frontend>
    <default>
        <checkout>
            <bold>
                <enabled>0</enabled>
            </bold>
            <bold_advanced>
                <enabled_parallel>0</enabled_parallel>
                <realtime_enabled>1</realtime_enabled>
                <url>https://api.boldcommerce.com/</url>
                <checkout_url>https://checkout.boldcommerce.com/</checkout_url>
                <platform_connector_url>https://adobe-commerce-connector.boldapps.net/platform/shops/</platform_connector_url>
                <integration_callback_url>https://adobe-commerce-connector.boldapps.net/platform/oauth/callback/</integration_callback_url>
                <integration_identity_url>https://adobe-commerce-connector.boldapps.net/platform/oauth/identify/</integration_identity_url>
                <weight_unit>kg</weight_unit>
                <weight_conversion_rate>1000</weight_conversion_rate>
                <validate_coupon_codes>1</validate_coupon_codes>
                <log>0</log>
                <self_hosted_enabled>0</self_hosted_enabled>
            </bold_advanced>
        </checkout>
        <web>
            <routers>
                <bold>
                    <class>Bold_Checkout_Router_Wrapper</class>
                </bold>
            </routers>
        </web>
        <payment>
            <bold>
                <model>Bold_Checkout_Service_PaymentMethod</model>
                <active>1</active>
                <title>Bold Payments</title>
            </bold>
        </payment>
    </default>
    <adminhtml>
        <events>
            <admin_system_config_changed_section_checkout>
                <observers>
                    <create_platform_integration>
                        <class>Bold_Checkout_Observer_IntegrationObserver</class>
                        <method>create</method>
                    </create_platform_integration>
                    <process_life_elements>
                        <class>Bold_Checkout_Observer_LifeElementsObserver</class>
                        <method>syncElements</method>
                    </process_life_elements>
                </observers>
            </admin_system_config_changed_section_checkout>
        </events>
    </adminhtml>
    <rest>
        <V1>
            <carts>
                <_cartId>
                    <estimate-shipping-methods>
                        <POST>
                            <handler>Bold_Checkout_Api_Platform_Cart::estimateShippingMethods</handler>
                        </POST>
                    </estimate-shipping-methods>
                </_cartId>
            </carts>
            <customers>
                <POST>
                    <handler>Bold_Checkout_Api_Platform_Customers::save</handler>
                </POST>
                <search>
                    <GET>
                        <handler>Bold_Checkout_Api_Platform_Customers::search</handler>
                    </GET>
                </search>
            </customers>
            <directory>
                <countries>
                    <_countryCode>
                        <GET>
                            <handler>Bold_Checkout_Api_Platform_Directory_Countries::getCountryInfo</handler>
                        </GET>
                    </_countryCode>
                    <GET>
                        <handler>Bold_Checkout_Api_Platform_Directory_Countries::getCountriesInfo</handler>
                    </GET>
                </countries>
            </directory>
            <orders>
                <_orderId>
                    <GET>
                        <handler>Bold_Checkout_Api_Platform_Orders::get</handler>
                    </GET>
                </_orderId>
                <POST>
                    <handler>Bold_Checkout_Api_Platform_Orders::update</handler>
                </POST>
            </orders>
            <store>
                <storeConfigs>
                    <GET>
                        <handler>Bold_Checkout_Api_Platform_Store_StoreManager::getStoreConfigs</handler>
                    </GET>
                </storeConfigs>
            </store>
            <shops>
                <_shopIdentifier>
                    <cart>
                        <_cartId>
                            <GET>
                                <handler>Bold_Checkout_Api_Platform_Cart::getCart</handler>
                            </GET>
                            <addresses>
                                <POST>
                                    <handler>Bold_Checkout_Api_Platform_Cart::setAddresses</handler>
                                </POST>
                            </addresses>
                            <coupons>
                                <POST>
                                    <handler>Bold_Checkout_Api_Platform_Cart::setCoupon</handler>
                                </POST>
                                <DELETE>
                                    <handler>Bold_Checkout_Api_Platform_Cart::removeCoupon</handler>
                                </DELETE>
                            </coupons>
                            <shippingMethod>
                                <POST>
                                    <handler>Bold_Checkout_Api_Platform_Cart::setShippingMethod</handler>
                                </POST>
                            </shippingMethod>
                            <inventory>
                                <GET>
                                    <handler>Bold_Checkout_Api_Platform_Cart_Inventory::getInventory</handler>
                                </GET>
                            </inventory>
                        </_cartId>
                    </cart>
                    <customer>
                        <address>
                            <validate>
                                <POST>
                                    <handler>Bold_Checkout_Api_Platform_Customer_Address::validate</handler>
                                </POST>
                            </validate>
                        </address>
                    </customer>
                    <orders>
                        <POST>
                            <handler>Bold_Checkout_Api_Platform_Orders::create</handler>
                        </POST>
                    </orders>
                    <payments>
                        <PUT>
                            <handler>Bold_Checkout_Api_Platform_OrderPayments::update</handler>
                        </PUT>
                    </payments>
                    <secret>
                        <register>
                            <POST>
                                <handler>Bold_Checkout_Api_Platform_RegisterSharedSecret::register</handler>
                            </POST>
                        </register>
                    </secret>
                    <version>
                        <GET>
                            <handler>Bold_Checkout_Api_Platform_Version::getVersion</handler>
                        </GET>
                    </version>
                </_shopIdentifier>
            </shops>
        </V1>
    </rest>
</config>
