<?xml version="1.0"?>
<config>
    <modules>
        <Bold_Checkout>
            <version>1.6.1.2</version>
        </Bold_Checkout>
    </modules>
    <global>
        <blocks>
            <bold_checkout>
                <class>Bold_Checkout_Block</class>
            </bold_checkout>
        </blocks>
        <models>
            <tax>
                <rewrite>
                    <sales_total_quote_tax>Bold_Checkout_Model_Sales_Total_Quote_Tax</sales_total_quote_tax>
                </rewrite>
            </tax>
            <sales>
                <rewrite>
                    <order_payment>Bold_Checkout_Model_Sales_Order_Payment</order_payment>
                </rewrite>
            </sales>
            <bold_checkout>
                <class>Bold_Checkout_Model</class>
                <resourceModel>bold_checkout_resource</resourceModel>
            </bold_checkout>
            <bold_checkout_resource>
                <class>Bold_Checkout_Model_Resource</class>
                <deprecatedNode>bold_checkout_mysql4</deprecatedNode>
                <entities>
                    <order>
                        <table>bold_checkout_order</table>
                    </order>
                    <synchronization>
                        <table>bold_checkout_synchronization_entity</table>
                    </synchronization>
                    <status>
                        <table>bold_checkout_synchronization_status</table>
                    </status>
                    <regioncodemapper>
                        <table>bold_checkout_region_iso_code</table>
                    </regioncodemapper>
                </entities>
            </bold_checkout_resource>
            <importexport>
                <rewrite>
                    <import_entity_customer>Bold_Checkout_Model_Import_Entity_Customer</import_entity_customer>
                </rewrite>
            </importexport>
        </models>
        <blocks>
            <bold_checkout>
                <class>Bold_Checkout_Block</class>
            </bold_checkout>
        </blocks>
        <resources>
            <bold_checkout_setup>
                <setup>
                    <module>Bold_Checkout</module>
                </setup>
            </bold_checkout_setup>
        </resources>
        <events>
            <catalog_product_save_commit_after>
                <observers>
                    <bold>
                        <class>Bold_Checkout_Observer_ProductObserver</class>
                        <method>productSaved</method>
                    </bold>
                </observers>
            </catalog_product_save_commit_after>
            <controller_action_postdispatch_adminhtml_catalog_product_action_attribute_save>
                <observers>
                    <bold>
                        <class>Bold_Checkout_Observer_ProductObserver</class>
                        <method>productMassAttributeUpdateAfter</method>
                    </bold>
                </observers>
            </controller_action_postdispatch_adminhtml_catalog_product_action_attribute_save>
            <controller_action_postdispatch_adminhtml_catalog_product_massStatus>
                <observers>
                    <bold>
                        <class>Bold_Checkout_Observer_ProductObserver</class>
                        <method>productMassStatusUpdateAfter</method>
                    </bold>
                </observers>
            </controller_action_postdispatch_adminhtml_catalog_product_massStatus>
            <catalog_product_delete_commit_after>
                <observers>
                    <bold>
                        <class>Bold_Checkout_Observer_ProductObserver</class>
                        <method>productDeleted</method>
                    </bold>
                </observers>
            </catalog_product_delete_commit_after>
            <catalog_category_save_commit_after>
                <observers>
                    <bold>
                        <class>Bold_Checkout_Observer_CategoryObserver</class>
                        <method>categorySaved</method>
                    </bold>
                </observers>
            </catalog_category_save_commit_after>
            <catalog_product_import_finish_before>
                <observers>
                    <bold>
                        <class>Bold_Checkout_Observer_ProductObserver</class>
                        <method>afterProductImport</method>
                    </bold>
                </observers>
            </catalog_product_import_finish_before>
            <catalog_category_delete_commit_after>
                <observers>
                    <bold>
                        <class>Bold_Checkout_Observer_CategoryObserver</class>
                        <method>categoryDeleted</method>
                    </bold>
                </observers>
            </catalog_category_delete_commit_after>
            <customer_save_commit_after>
                <observers>
                    <bold>
                        <class>Bold_Checkout_Observer_CustomerObserver</class>
                        <method>customerSaved</method>
                    </bold>
                </observers>
            </customer_save_commit_after>
            <customer_delete_commit_after>
                <observers>
                    <bold>
                        <class>Bold_Checkout_Observer_CustomerObserver</class>
                        <method>customerDeleted</method>
                    </bold>
                </observers>
            </customer_delete_commit_after>
            <sales_order_save_commit_after>
                <observers>
                    <bold>
                        <class>Bold_Checkout_Observer_OrderObserver</class>
                        <method>orderSaved</method>
                    </bold>
                </observers>
            </sales_order_save_commit_after>
        </events>
    </global>
    <frontend>
        <routers>
            <wp-auth>
                <use>standard</use>
                <args>
                    <module>Bold_Checkout</module>
                    <frontName>wc-auth</frontName>
                </args>
            </wp-auth>
            <bold_checkout>
                <use>standard</use>
                <args>
                    <module>Bold_Checkout</module>
                    <frontName>bold_checkout</frontName>
                </args>
            </bold_checkout>
        </routers>
        <events>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <bold>
                        <class>Bold_Checkout_Observer_CheckoutObserver</class>
                        <method>beforeCheckout</method>
                    </bold>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
            <controller_action_postdispatch_checkout_onepage_saveBilling>
                <observers>
                    <bold>
                        <class>Bold_Checkout_Observer_OnepageControllerObserver</class>
                        <method>afterBillingSave</method>
                    </bold>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveBilling>
            <controller_action_postdispatch_checkout_onepage_saveShipping>
                <observers>
                    <bold>
                        <class>Bold_Checkout_Observer_OnepageControllerObserver</class>
                        <method>afterShippingSave</method>
                    </bold>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveShipping>
            <controller_action_postdispatch_checkout_onepage_saveShippingMethod>
                <observers>
                    <bold>
                        <class>Bold_Checkout_Observer_OnepageControllerObserver</class>
                        <method>afterShippingMethodSave</method>
                    </bold>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveShippingMethod>
            <checkout_type_onepage_save_order>
                <observers>
                    <bold>
                        <class>Bold_Checkout_Observer_CheckoutObserver</class>
                        <method>beforeSaveOrder</method>
                    </bold>
                </observers>
            </checkout_type_onepage_save_order>
            <checkout_submit_all_after>
                <observers>
                    <bold>
                        <class>Bold_Checkout_Observer_CheckoutObserver</class>
                        <method>afterCheckout</method>
                    </bold>
                </observers>
            </checkout_submit_all_after>
            <customer_address_save_commit_after>
                <observers>
                    <bold>
                        <class>Bold_Checkout_Observer_CustomerObserver</class>
                        <method>customerAddressSaved</method>
                    </bold>
                </observers>
            </customer_address_save_commit_after>
            <customer_address_delete_commit_after>
                <observers>
                    <bold>
                        <class>Bold_Checkout_Observer_CustomerObserver</class>
                        <method>customerAddressDeleted</method>
                    </bold>
                </observers>
            </customer_address_delete_commit_after>
        </events>
        <layout>
            <updates>
                <bold_checkout>
                    <file>bold/checkout.xml</file>
                </bold_checkout>
            </updates>
        </layout>
        <translate>
            <modules>
                <Bold_Checkout>
                    <files>
                        <default>Bold_Checkout.csv</default>
                    </files>
                </Bold_Checkout>
            </modules>
        </translate>
    </frontend>
    <default>
        <checkout>
            <bold>
                <enabled>0</enabled>
            </bold>
            <bold_advanced>
                <enabled_parallel>0</enabled_parallel>
                <realtime_enabled>1</realtime_enabled>
                <url>https://api.boldcommerce.com/</url>
                <checkout_url>https://checkout.boldcommerce.com/</checkout_url>
                <weight_unit>kg</weight_unit>
                <weight_conversion_rate>1000</weight_conversion_rate>
                <log>0</log>
                <self_hosted_enabled>0</self_hosted_enabled>
            </bold_advanced>
        </checkout>
        <web>
            <routers>
                <bold>
                    <class>Bold_Checkout_Router_Wrapper</class>
                </bold>
            </routers>
        </web>
        <payment>
            <bold>
                <model>Bold_Checkout_Service_PaymentMethod</model>
                <title>Bold Payments</title>
            </bold>
        </payment>
    </default>
    <adminhtml>
        <events>
            <admin_system_config_changed_section_checkout>
                <observers>
                    <create_destinations>
                        <class>Bold_Checkout_Observer_DestinationObserver</class>
                        <method>create</method>
                    </create_destinations>
                    <configure_zones>
                        <class>Bold_Checkout_Observer_ZoneObserver</class>
                        <method>create</method>
                    </configure_zones>
                    <register_overrides>
                        <class>Bold_Checkout_Observer_OverrideObserver</class>
                        <method>register</method>
                    </register_overrides>
                    <register_webhooks>
                        <class>Bold_Checkout_Observer_WebhookObserver</class>
                        <method>register</method>
                    </register_webhooks>
                    <process_life_elements>
                        <class>Bold_Checkout_Observer_LifeElementsObserver</class>
                        <method>syncElements</method>
                    </process_life_elements>
                </observers>
            </admin_system_config_changed_section_checkout>
        </events>
    </adminhtml>
    <crontab>
        <jobs>
            <bold_checkout_synchronization>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>bold_checkout/cron_synchronization::run</model>
                </run>
            </bold_checkout_synchronization>
            <bold_checkout_deletion>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>bold_checkout/cron_deletion::run</model>
                </run>
            </bold_checkout_deletion>
        </jobs>
    </crontab>
</config>
