<?xml version="1.0"?>
<config>
    <modules>
        <Bold_CheckoutTmFireCheckout>
            <version>1.0.0.0</version>
        </Bold_CheckoutTmFireCheckout>
    </modules>
    <frontend>
        <events>
            <controller_action_predispatch_firecheckout_index_index>
                <observers>
                    <bold>
                        <class>Bold_Checkout_Observer_CheckoutObserver</class>
                        <method>beforeCheckout</method>
                    </bold>
                </observers>
            </controller_action_predispatch_firecheckout_index_index>
        </events>
    </frontend>
</config>
