<?xml version="1.0"?>
<config>
    <modules>
        <Bold_CheckoutSmartwaveOnepageCheckout>
            <version>0.0.1</version>
        </Bold_CheckoutSmartwaveOnepageCheckout>
    </modules>
    <global>
        <models>
            <bold_checkout>
                <rewrite>
                    <config>Bold_CheckoutSmartwaveOnepageCheckout_Model_Config</config>
                </rewrite>
            </bold_checkout>
        </models>
        <events>
            <sales_order_save_commit_after>
                <observers>
                    <bold>
                        <class>Bold_CheckoutSmartwaveOnepageCheckout_Observer_OrderObserver</class>
                        <method>orderSaved</method>
                    </bold>
                </observers>
            </sales_order_save_commit_after>
        </events>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch_onepagecheckout_index_index>
                <observers>
                    <bold>
                        <class>Bold_CheckoutSmartwaveOnepageCheckout_Observer_CheckoutObserver</class>
                        <method>beforeCheckout</method>
                    </bold>
                </observers>
            </controller_action_predispatch_onepagecheckout_index_index>
        </events>
    </frontend>
    <default>
        <checkout>
            <bold_advanced>
                <adapt_fractional_price>1</adapt_fractional_price>
            </bold_advanced>
        </checkout>
    </default>
</config>
