<?xml version="1.0"?>
<config>
    <modules>
        <Bold_CheckoutZsShipping>
            <version>1.0.0.0</version>
        </Bold_CheckoutZsShipping>
    </modules>
    <global>
        <models>
            <bold_checkout>
                <rewrite>
                    <getaddressshippingrates>Bold_CheckoutZsShipping_Model_GetAddressShippingRates</getaddressshippingrates>
                </rewrite>
            </bold_checkout>
        </models>
    </global>
</config>
